{% if collection.handle != blank and collection.products_count > 0 %}
  <div class="field is-grouped is-flex-wrap">

    {% if collection.tags.size > 0 %}
      <div class="collection__tag-filter select">
        {% for tag in collection.all_tags %}
          {% if forloop.first %}
            <select title="Tag Filter" name="tag_filter" id="tag_filter" class="tag_filter" data-default-collection="{% if collection.handle == 'all' %}{{ routes.all_products_collection_url }}{% else %}{{ collection.url }}{% endif %}">
              <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}{{ routes.all_products_collection_url }}{% else %}{{ collection.url }}{% endif %}">
                {{ 'collections.general.all_collection_title' | t: title: collection.title }}
              </option>
          {% endif %}

          {% unless tag contains 'meta-' %}
            <option {% if current_tags contains tag %}selected="selected"{% endif %} value="{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
          {% endunless %}

          {% if forloop.last %}
            </select>
          {% endif %}

        {% endfor %}
      </div>
    {% endif %}

    <div class="collection__sort-by-filter select">
      <select {% unless cloud_search_filters %}class="sort_by" id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by }}"{% endunless %} {% if cloud_search_filters %}onchange="(function() { var p = new URLSearchParams(location.search); p.set('sort_by', this.value); location.search = p.toString() }).call(this)"{% endif %}>
        <option value="manual" {% if "manual" == collection.sort_by %}selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
        <option value="best-selling" {% if "best-selling" == collection.sort_by %}selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
        <option value="title-ascending" {% if "title-ascending" == collection.sort_by %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
        <option value="title-descending" {% if "title-descending" == collection.sort_by %}selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
        <option value="price-ascending" {% if "price-ascending" == collection.sort_by %}selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
        <option value="price-descending" {% if "price-descending" == collection.sort_by %}selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
        <option value="created-descending" {% if "created-descending" == collection.sort_by %}selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
        <option value="created-ascending" {% if "created-ascending" == collection.sort_by %}selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
      </select>
    </div>

  </div>
{% endif %}
