{% comment %}
Required values
menu_link: linklist
______________
Optional values
linklist_class: <string>
link_setting: <string>
{% endcomment %}

<div class="footer__menu is-justify-space-between {{ linklist_class }}">
{% if menu_link != blank %}
  {% assign menu = linklists[menu_link] %}
  <p class="footer__heading">
    {% if link_setting != blank %}<a href="{{ link_setting }}">{% endif %}
      {{ menu.title }}
    {% if link_setting != blank %}</a>{% endif %}
  </p>
  <ul class="footer__menu-container">
    {% for link in menu.links %}
      <li class="footer__menu-link footer__menu-link--father">
        <a href="{{ link.url }}" class="footer__menu-link--father__title  {% if link.active %}is-active{% endif %}">
          {{ link.title }}
        </a>
        <ul>
          {% for sublink in link.links %}
          <li class="footer__menu-link" style="display:block;">
            <a href="{{ sublink.url }}" class="{% if link.active %}is-active{% endif %}">{{sublink.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="footer__heading">{{ 'homepage.onboarding.menu_title' | t }}</p>
  <p>{{ 'homepage.onboarding.no_content' | t }}</p>
{% endif %}
</div>
